table {
    border: 1px solid grey;

    border-collapse: collapse;
}

thead{
     margin: 10px;
}

th {
    border: 1px solid grey;
    padding: 3px 10px;
}

tr {
    border: 1px solid grey;
}

input {
    margin: 20px;
}

input:first-child {
    margin-left: 0px;
}

#sumbit-btn {
    margin-left: 10px;
}